@import "tailwindcss";
@layer components {
  .input-field {
    @apply bg-white w-full p-3 mb-4 border border-gray-300 rounded-xl focus:ring-2 focus:ring-blue-500 focus:border-transparent focus:outline-none;
  }
  .login_btn {
    @apply w-full bg-blue-600 text-white p-3 rounded-xl cursor-pointer  font-semibold active:scale-95 transition-transform duration-300;
  }
  .submit_btn {
    @apply bg-linear-to-r from-purple-600 to-pink-600 text-white px-8 py-3 rounded-xl hover:from-purple-700 hover:to-pink-700 transition-all duration-200 font-semibold disabled:opacity-50 cursor-pointer;
  }
}
